
extends layout

block content
	include navbar
	
	#logo
		img(src='/img/fbc-ziri.png')
	
	
	include modals/alert
	include modals/confirm

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')