
.modal-form-errors.modal.hide.fade
	div.modal-header
		button.close(data-dismiss='modal') x
		h3 Ups!
	div.modal-body
		p.subheading Izgleda da je pri&#353;lo do te&#380;ave.
		ul
	div.modal-footer
		button(data-dismiss="modal").btn.btn-warning OK