
#set-password.modal-single-input.modal.hide.fade
    div.modal-header
        h3 Ponastavitev gesla
    div.modal-body
        form( method="post")#set-password-form.well.span5
            p Prosimo vnesite va&#353;e novo geslo
            input(type="password", name="pass", id='pass-tf').span5.required
            button(type="submit")#submit.btn.btn-primary Potrdi
            div.alert.alert-error.hide
            button(data-dismiss="alert").close
    div.modal-footer